---
import BaseLayout from "../layouts/BaseLayout.astro";
// import fetchApi from "../lib/strapi";
// import type Article from "../interfaces/article";
import CanvasMagic from "../components/CanvasMagic.astro";
const allPosts = await Astro.glob("./blog/*.md");

// const articles = await fetchApi<Article[]>({
// 	endpoint: "articles",
// 	wrappedByKey: "data", // the key to unwrap the response
// });

// console.log(articles);
---

<BaseLayout>
	<section class="recent-posts">
		<h1>Publicações Recentes</h1>
		<ul>
			{
				allPosts.map((article) => (
					<li>
						<a href={`/blog/${article.frontmatter.slug}/`}>
							{article.frontmatter.title}
						</a>
					</li>
				))
			}
		</ul>
	</section>
</BaseLayout>

<style lang="scss">
	section {
		h1 {
			font-family: var(--ff-barlow-semi);
			font-size: var(--fs-300);
			font-weight: 500;
			letter-spacing: 2.5px;
			color: var(--font-color-light-accent);
			margin-bottom: 1.5rem;
		}

		ul {
			list-style: none;
			li {
				margin-bottom: .5em;
			}
		}
	}
</style>
