---
import "../styles/globals.scss";
import "@fontsource/barlow";
import "@fontsource/barlow-semi-condensed";
import "@fontsource/roboto";
import Header from "../components/Header.astro";
import CanvasMagic from "../components/CanvasMagic.astro";
import Footer from "../components/Footer.astro";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
        <!-- <ViewTransitions /> -->
    </head>
    <body>
        <Header />
        <CanvasMagic />
        <main class="wrapper">
            <slot />
        </main>
        <Footer/>
    </body>
</html>

<style lang="scss">
    main {
        height: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
</style>
