---
import "../styles/globals.scss";
import "@fontsource/barlow";
import "@fontsource/barlow-semi-condensed";
import "@fontsource/roboto";
import Header from "../components/Header.astro";
import CanvasMagic from "../components/CanvasMagic.astro";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body>
        <Header />
        <CanvasMagic />
        <main class="wrapper">
            <slot />
        </main>
    </body>
</html>

<style>
    main {
        margin-top: 5rem;
    }
</style>
