---

---

<div id="pixi-container"></div>

<script>
    import "../scripts/magic-canvas.js";
</script>

<style lang="scss">
    #pixi-container {
        canvas {
            background: linear-gradient(
                180deg,
                rgba(14, 20, 27, 0) 41.15%,
                rgba(217, 217, 217, 0.2) 100%
            );
        }

        height: 40dvh;
    }
</style>
