---

---

<div id="pixi-container" transition:persist></div>

<script>
    if(Math.random() > .5)
    import("../scripts/magic-canvas");
    else
    import("../scripts/magic-canvas2")
</script>

<style lang="scss">
    #pixi-container {
        canvas {
            background: linear-gradient(
                180deg,
                rgba(14, 20, 27, 0) 41.15%,
                rgba(217, 217, 217, 0.2) 100%
            );
        }

        height: 30dvh;
    }
</style>
