---

---

<div id="pixi-container" transition:persist></div>

<script>
    let rnd = Math.random();

    if(rnd < .5)
    import("../scripts/magic-canvas");
    else if(rnd < 1)
    import("../scripts/magic-canvas2")
    // else
    // import("../scripts/magic-canvas3")
</script>

<style lang="scss">
    #pixi-container {
        canvas {
            background: linear-gradient(
                180deg,
                rgba(14, 20, 27, 0) 41.15%,
                rgba(217, 217, 217, 0.2) 100%
            );
        }

        height: 30dvh;
    }
</style>
