---

---

<div class="magic">
    <canvas id="magic-canvas" width="800" height="600"> </canvas>

    <script>
        import "../scripts/magic-canvas.js";
    </script>
</div>

<style lang="scss">
    .magic {
        background: linear-gradient(180deg, rgba(14, 20, 27, 0.00) 41.15%, rgba(217, 217, 217, 0.20) 100%);
        canvas {
            width: 100%;
            height: 40dvh;
            padding: -10px;
            margin-bottom: -5px;
        }
    }
</style>
