---

---

<footer>
    <div class="transition"></div>
    <div class="copyright">
        <span class="ff-semi fs-300"
            >© 2023 Marcos Capistrano. All Rights Reserved.</span
        >
    </div>
</footer>

<style lang="scss">
    footer {
        display: flex;
        flex-direction: column;

        .transition {
            height: 4rem;
            background: linear-gradient(180deg, #0e141b 0%, #06182d 100%);
        }

        .copyright {
            text-align: center;
            background: #06182D;
            padding-top: 2rem;
            padding-bottom: 2rem;
            color: #9CB5D1;
        }
    }
</style>
