---

---

<script>
    import "../scripts/menu.js";
</script>

<header>
    <div class="nav wrapper">
        <a class="logo" href="/">Marcos Capistrano</a>

        <div class="nav-links">
            <a href="/latest">Latest</a>
            <a href="/posts">Posts</a>
            <a href="/about">About</a>
        </div>

        <div class="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
    </div>
</header>

<style lang="scss">
    header {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: none;

        font-family: var(--ff-barlow);
        color: var(--font-color-light-primary);
    }

    .nav {
        display: flex;
        align-items: center;

        .logo {
            font-size: var(--fs-700);
        }

        .nav-links {
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            transform: translate3d(100%, 0, 0);
            height: 100dvh;
            width: 100dvw;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 2rem;
            padding-right: 2rem;
            opacity: 0;
            font-size: var(--fs-500);
            transition: all 500ms ease-in;

            &.expanded {
                background-color: #232f3d;
                opacity: 1;
                transform: translate3d(0, 0, 0);
                // left: 0; // Add left property
            }

            a {
                display: block;
                font-size: var(--fs-700);
                z-index: 2;
            }
        }
    }

    .hamburger {
        margin-top: 0.25em;
        margin-left: auto;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5em;
        z-index: 1;
    }

    .hamburger .line {
        display: block;
        width: 40px;
        height: 5px;
        background-color: var(--font-color-light-primary);
    }

    @media screen and (min-width: 636px) {
        .nav {
            display: flex;
            align-items: center;

            .nav-links {
                right: 0;
                transform: translate3d(0, 0, 0);
                width: fit-content;
                opacity: 1;
                transform: unset;
                position: relative;
                margin-left: auto;
                display: flex;
                flex-direction: row;
                gap: 1rem;
                height: fit-content;
                justify-content: flex-end;
                padding-right: 0;

                a {
                    font-size: var(--fs-500);
                }
            }
        }

        .hamburger {
            display: none;
        }
    }
</style>
